.cardWrapper {
  position: fixed;
  width: 100%;
  transition: bottom 0.2s ease-in-out;
  left: 0;
}

.cardWrapper:not(:hover) {
  bottom: 100px !important;
}

.opponent,
.opponent:not(:hover) {
  bottom: auto !important;
}

.item {
  position: absolute;
}

.item:not(:hover) {
  z-index: -1;
}
