.container {
  width: 210px;
  height: 300px;
  background: grey;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 8px solid darkgoldenrod;
  transform: scale(0.9);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

.container:hover {
  transform: scale(1);
  z-index: 20;
}

.backface {
  background: url("https://images.unsplash.com/photo-1556195332-95503f664ced?auto=format&fit=crop&w=500");
  background-size: cover;
  border-color: black;
}

.backface:hover {
  transform: scale(0.9);
  cursor: default;
}

.title {
  padding: 16px;
  font-size: 24px;
  font-weight: bold;
}

.image {
  max-height: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  margin: 16px;
  max-height: 224px;
  overflow: hidden;
}
